# Initial conditions:

In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
from kaggle.api.kaggle_api_extended import KaggleApi
api = KaggleApi()
api.authenticate()

In [2]:
api.dataset_download_file(dataset="teertha/ushealthinsurancedataset", file_name="insurance.csv")
main_data = pd.read_csv("insurance.csv")

Dataset URL: https://www.kaggle.com/datasets/teertha/ushealthinsurancedataset

In [3]:
main_data

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

# Cleaning the data:

In [4]:
main_data = main_data.round(decimals=2)

In [5]:
main_data.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [6]:
print(main_data.duplicated().sum())
main_data[main_data.duplicated()]

1

     age   sex    bmi  children smoker     region  charges
581   19  male  30.59         0     no  northwest  1639.56

In [7]:
main_data.drop_duplicates(inplace = True)
print(main_data.duplicated().sum())

0

# Pre-analysis data hypotheses:

- older people would pay a higher premium
- people with a higher bmi would pay a higher premium
- region with the highest average charges would be the most wealthy on average

# Cursory view of data trends:

In [8]:
main_data.describe()

               age          bmi     children       charges
count  1337.000000  1337.000000  1337.000000   1337.000000
mean     39.222139    30.663628     1.095737  13279.121503
std      14.044333     6.100233     1.205571  12110.359677
min      18.000000    15.960000     0.000000   1121.870000
25%      27.000000    26.290000     0.000000   4746.340000
50%      39.000000    30.400000     1.000000   9386.160000
75%      51.000000    34.700000     2.000000  16657.720000
max      64.000000    53.130000     5.000000  63770.430000

In [9]:
main_data.describe(include="object")

         sex smoker     region
count   1337   1337       1337
unique     2      2          4
top     male     no  southeast
freq     675   1063        364

In [10]:
print(main_data["sex"].value_counts())
print(main_data["smoker"].value_counts())
print(main_data["region"].value_counts())

male      675
female    662
Name: sex, dtype: int64
no     1063
yes     274
Name: smoker, dtype: int64
southeast    364
southwest    325
northwest    324
northeast    324
Name: region, dtype: int64

most and least expensive insurance charges:

In [11]:
main_data.sort_values(by='charges', ascending=False).head(10)

      age     sex    bmi  children smoker     region   charges
543    54  female  47.41         0    yes  southeast  63770.43
1300   45    male  30.36         0    yes  southeast  62592.87
1230   52    male  34.48         3    yes  northwest  60021.40
577    31  female  38.10         1    yes  northeast  58571.07
819    33  female  35.53         0    yes  northwest  55135.40
1146   60    male  32.80         0    yes  southwest  52590.83
34     28    male  36.40         1    yes  southwest  51194.56
1241   64    male  36.96         2    yes  southeast  49577.66
1062   59    male  41.14         1    yes  southeast  48970.25
488    44  female  38.06         0    yes  southeast  48885.14

In [12]:
main_data.sort_values(by='charges', ascending=False).tail(10)

      age   sex    bmi  children smoker     region  charges
1317   18  male  53.13         0     no  southeast  1163.46
442    18  male  43.01         0     no  southeast  1149.40
781    18  male  41.14         0     no  southeast  1146.80
866    18  male  37.29         0     no  southeast  1141.45
194    18  male  34.43         0     no  southeast  1137.47
22     18  male  34.10         0     no  southeast  1137.01
663    18  male  33.66         0     no  southeast  1136.40
1244   18  male  33.33         0     no  southeast  1135.94
808    18  male  30.14         0     no  southeast  1131.51
940    18  male  23.21         0     no  southeast  1121.87

highest and lowest BMIs:

In [13]:
main_data.sort_values(by='bmi', ascending=False).head(10)

      age     sex    bmi  children smoker     region   charges
1317   18    male  53.13         0     no  southeast   1163.46
1047   22    male  52.58         1    yes  southeast  44501.40
847    23    male  50.38         1     no  southeast   2438.06
116    58    male  49.06         0     no  southeast  11381.33
286    46  female  48.07         2     no  northeast   9432.93
1088   52    male  47.74         1     no  southeast   9748.91
860    37  female  47.60         2    yes  southwest  46113.51
401    47    male  47.52         1     no  southeast   8083.92
543    54  female  47.41         0    yes  southeast  63770.43
438    52  female  46.75         5     no  southeast  12592.53

In [14]:
main_data.sort_values(by='bmi', ascending=False).tail(10)

      age     sex    bmi  children smoker     region   charges
410    19    male  17.48         0     no  northwest   1621.34
680    21  female  17.40         1     no  southwest   2585.27
28     23    male  17.39         1     no  northwest   2775.19
250    18    male  17.29         2    yes  northeast  12829.46
1029   37  female  17.29         2     no  northeast   6877.98
1286   28  female  17.29         0     no  northeast   3732.63
412    26  female  17.20         2    yes  northeast  14455.64
1226   38    male  16.82         2     no  northeast   6640.54
428    21  female  16.82         1     no  northeast   3167.46
172    18    male  15.96         0     no  northeast   1694.80

# Groupby analysis:

In [15]:
main_data.groupby("sex")["charges"].mean()

sex
female    12569.578716
male      13974.999022
Name: charges, dtype: float64

In [16]:
main_data.groupby('region')['charges'].agg(["mean", "median"])

                   mean     median
region
northeast  13406.384599  10057.655
northwest  12450.840648   8976.980
southeast  14735.411484   9294.130
southwest  12346.937508   8798.590

In [17]:
main_data['age_group'] = pd.cut(main_data['age'], bins=[18, 30, 40, 50, 60, 70], labels=['18-29', '30-39', '40-49', '50-59', '60-69'])
main_data.groupby('age_group')['charges'].mean()

age_group
18-29     9844.718102
30-39    11639.308599
40-49    14782.042989
50-59    17062.292792
60-69    21063.163297
Name: charges, dtype: float64

In [18]:
main_data.groupby("smoker")["charges"].mean()

smoker
no      8440.660310
yes    32050.231898
Name: charges, dtype: float64

In [19]:
main_data["bmi_group"] = pd.cut(main_data["bmi"], bins=[15.96, 18.5, 24.9, 29.9, 34.9, 39.9, 53.13] , labels=['Underweight (<18.5)', 'Normal (18.5-24.9)', 'Overweight (25-29.9)', 'Obese Class I (30-34.9)', 'Obese Class II (35-39.9)', 'Obese Class III (>=40)']
)
main_data.groupby("bmi_group")["charges"].mean()

bmi_group
Underweight (<18.5)          9005.762000
Normal (18.5-24.9)          10404.900045
Overweight (25-29.9)        11006.809842
Obese Class I (30-34.9)     14249.379848
Obese Class II (35-39.9)    17245.410487
Obese Class III (>=40)      16667.608280
Name: charges, dtype: float64

In [20]:
main_data.groupby(["bmi_group", "smoker"])["charges"].mean()

bmi_group                 smoker
Underweight (<18.5)       no         5737.740667
                          yes       18809.826000
Normal (18.5-24.9)        no         7616.209064
                          yes       19942.223200
Overweight (25-29.9)      no         8348.367825
                          yes       22379.034028
Obese Class I (30-34.9)   no         8514.353137
                          yes       39204.496081
Obese Class II (35-39.9)  no         9621.300057
                          yes       42756.856923
Obese Class III (>=40)    no         8267.556111
                          yes       45467.787143
Name: charges, dtype: float64

# Importing second database:

In [21]:
html = """
<tbody><tr><th>Rank</th><th>State</th><th>FIPS Code</th><th>PCPI ($)</th></tr><tr><td>1</td><td class="text-left">District of Columbia</td><td>11000</td><td>100,909</td></tr><tr><td>2</td><td class="text-left">Massachusetts</td><td>25000</td><td>87,812</td></tr><tr><td>3</td><td class="text-left">Connecticut</td><td>09000</td><td>87,447</td></tr><tr><td>4</td><td class="text-left">New Jersey</td><td>34000</td><td>80,724</td></tr><tr><td>5</td><td class="text-left">California</td><td>06000</td><td>80,423</td></tr><tr><td>6</td><td class="text-left">Washington</td><td>53000</td><td>79,659</td></tr><tr><td>7</td><td class="text-left">New York</td><td>36000</td><td>79,581</td></tr><tr><td>8</td><td class="text-left">Colorado</td><td>08000</td><td>78,918</td></tr><tr><td>9</td><td class="text-left">Wyoming</td><td>56000</td><td>77,837</td></tr><tr><td>10</td><td class="text-left">New Hampshire</td><td>33000</td><td>77,260</td></tr><tr><td>11</td><td class="text-left">Maryland</td><td>24000</td><td>73,849</td></tr><tr><td>12</td><td class="text-left">North Dakota</td><td>38000</td><td>73,341</td></tr><tr><td>13</td><td class="text-left">Virginia</td><td>51000</td><td>72,855</td></tr><tr><td>14</td><td class="text-left">Minnesota</td><td>27000</td><td>71,866</td></tr><tr><td>15</td><td class="text-left">Alaska</td><td>02000</td><td>71,616</td></tr><tr><td>16</td><td class="text-left">Illinois</td><td>17000</td><td>70,953</td></tr><tr><td>17</td><td class="text-left">South Dakota</td><td>46000</td><td>70,353</td></tr><tr><td>18</td><td class="text-left">Florida</td><td>12000</td><td>68,248</td></tr><tr><td>19</td><td class="text-left">Pennsylvania</td><td>42000</td><td>67,839</td></tr><tr><td>20</td><td class="text-left">Nebraska</td><td>31000</td><td>67,800</td></tr><tr><td>21</td><td class="text-left">Rhode Island</td><td>44000</td><td>66,480</td></tr><tr><td>22</td><td class="text-left">Vermont</td><td>50000</td><td>66,463</td></tr><tr><td>23</td><td class="text-left">Oregon</td><td>41000</td><td>65,426</td></tr><tr><td>24</td><td class="text-left">Texas</td><td>48000</td><td>65,422</td></tr><tr><td>25</td><td class="text-left">Delaware</td><td>10000</td><td>65,392</td></tr><tr><td>26</td><td class="text-left">Nevada</td><td>32000</td><td>65,168</td></tr><tr><td>27</td><td class="text-left">Hawaii</td><td>15000</td><td>65,151</td></tr><tr><td>28</td><td class="text-left">Wisconsin</td><td>55000</td><td>63,963</td></tr><tr><td>29</td><td class="text-left">Montana</td><td>30000</td><td>63,918</td></tr><tr><td>30</td><td class="text-left">Kansas</td><td>20000</td><td>63,732</td></tr><tr><td>31</td><td class="text-left">Maine</td><td>23000</td><td>63,117</td></tr><tr><td>32</td><td class="text-left">Utah</td><td>49000</td><td>62,823</td></tr><tr><td>33</td><td class="text-left">Iowa</td><td>19000</td><td>62,351</td></tr><tr><td>34</td><td class="text-left">Arizona</td><td>04000</td><td>61,652</td></tr><tr><td>35</td><td class="text-left">Missouri</td><td>29000</td><td>61,302</td></tr><tr><td>36</td><td class="text-left">Tennessee</td><td>47000</td><td>61,049</td></tr><tr><td>37</td><td class="text-left">North Carolina</td><td>37000</td><td>60,484</td></tr><tr><td>38</td><td class="text-left">Ohio</td><td>39000</td><td>60,402</td></tr><tr><td>39</td><td class="text-left">Indiana</td><td>18000</td><td>60,038</td></tr><tr><td>40</td><td class="text-left">Michigan</td><td>26000</td><td>59,714</td></tr><tr><td>41</td><td class="text-left">Idaho</td><td>16000</td><td>59,035</td></tr><tr><td>42</td><td class="text-left">Georgia</td><td>13000</td><td>58,581</td></tr><tr><td>43</td><td class="text-left">Oklahoma</td><td>40000</td><td>58,499</td></tr><tr><td>44</td><td class="text-left">Louisiana</td><td>22000</td><td>57,100</td></tr><tr><td>45</td><td class="text-left">South Carolina</td><td>45000</td><td>56,123</td></tr><tr><td>46</td><td class="text-left">New Mexico</td><td>35000</td><td>54,428</td></tr><tr><td>47</td><td class="text-left">Arkansas</td><td>05000</td><td>54,347</td></tr><tr><td>48</td><td class="text-left">Kentucky</td><td>21000</td><td>54,326</td></tr><tr><td>49</td><td class="text-left">Alabama</td><td>01000</td><td>53,175</td></tr><tr><td>50</td><td class="text-left">West Virginia</td><td>54000</td><td>52,585</td></tr><tr><td>51</td><td class="text-left">Mississippi</td><td>28000</td><td>48,110</td></tr></tbody>
"""

soup = BeautifulSoup(html, 'html.parser')

rows = soup.find_all('tr')[1:]

data = []
for row in rows:
    row_data = [cell.get_text(strip=True) for cell in row.find_all('td')]
    data.append(row_data)

states_pcpi = pd.DataFrame(data, columns=['Rank', 'State', 'FIPS Code', 'PCPI ($)'])

states_pcpi

   Rank                 State FIPS Code PCPI ($)
0     1  District of Columbia     11000  100,909
1     2         Massachusetts     25000   87,812
2     3           Connecticut     09000   87,447
3     4            New Jersey     34000   80,724
4     5            California     06000   80,423
5     6            Washington     53000   79,659
6     7              New York     36000   79,581
7     8              Colorado     08000   78,918
8     9               Wyoming     56000   77,837
9    10         New Hampshire     33000   77,260
10   11              Maryland     24000   73,849
11   12          North Dakota     38000   73,341
12   13              Virginia     51000   72,855
13   14             Minnesota     27000   71,866
14   15                Alaska     02000   71,616
15   16              Illinois     17000   70,953
16   17          South Dakota     46000   70,353
17   18               Florida     12000   68,248
18   19          Pennsylvania     42000   67,839
19   20              Nebraska     31000   67,800
20   21          Rhode Island     44000   66,480
21   22               Vermont     50000   66,463
22   23                Oregon     41000   65,426
23   24                 Texas     48000   65,422
24   25              Delaware     10000   65,392
25   26                Nevada     32000   65,168
26   27                Hawaii     15000   65,151
27   28             Wisconsin     55000   63,963
28   29               Montana     30000   63,918
29   30                Kansas     20000   63,732
30   31                 Maine     23000   63,117
31   32                  Utah     49000   62,823
32   33                  Iowa     19000   62,351
33   34               Arizona     04000   61,652
34   35              Missouri     29000   61,302
35   36             Tennessee     47000   61,049
36   37        North Carolina     37000   60,484
37   38                  Ohio     39000   60,402
38   39               Indiana     18000   60,038
39   40              Michigan     26000   59,714
40   41                 Idaho     16000   59,035
41   42               Georgia     13000   58,581
42   43              Oklahoma     40000   58,499
43   44             Louisiana     22000   57,100
44   45        South Carolina     45000   56,123
45   46            New Mexico     35000   54,428
46   47              Arkansas     05000   54,347
47   48              Kentucky     21000   54,326
48   49               Alabama     01000   53,175
49   50         West Virginia     54000   52,585
50   51           Mississippi     28000   48,110

Mapping the states to regions to be consistent with the original dataframe

In [22]:
us_state_regions_dict = {
    "Alabama": "southeast",
    "Alaska": "northwest",
    "Arizona": "southwest",
    "Arkansas": "southeast",
    "California": "southwest",
    "Colorado": "southwest",
    "Connecticut": "northeast",
    "Delaware": "northeast",
    "Florida": "southeast",
    "Georgia": "southeast",
    "Hawaii": "southeast",
    "Idaho": "northwest",
    "Illinois": "northeast",
    "Indiana": "northeast",
    "Iowa": "northeast",
    "Kansas": "southwest",
    "Kentucky": "southeast",
    "Louisiana": "southeast",
    "Maine": "northeast",
    "Maryland": "southeast",
    "Massachusetts": "northeast",
    "Michigan": "northeast",
    "Minnesota": "northeast",
    "Mississippi": "southeast",
    "Missouri": "southeast",
    "Montana": "northwest",
    "Nebraska": "northwest",
    "Nevada": "southwest",
    "New Hampshire": "northeast",
    "New Jersey": "northeast",
    "New Mexico": "southwest",
    "New York": "northeast",
    "North Carolina": "southeast",
    "North Dakota": "northwest",
    "Ohio": "northeast",
    "Oklahoma": "southwest",
    "Oregon": "northwest",
    "Pennsylvania": "northeast",
    "Rhode Island": "northeast",
    "South Carolina": "southeast",
    "South Dakota": "northwest",
    "Tennessee": "southeast",
    "Texas": "southwest",
    "Utah": "southwest",
    "Vermont": "northeast",
    "Virginia": "southeast",
    "Washington": "northwest",
    "West Virginia": "southeast",
    "Wisconsin": "northeast",
    "Wyoming": "northwest"
}
states_pcpi['Region'] = states_pcpi['State'].map(us_state_regions_dict)
states_pcpi.drop(columns=["FIPS Code"], inplace = True)
states_pcpi.fillna("northeast", inplace = True)
states_pcpi.set_index('Rank', inplace=True)

In [23]:
states_pcpi['PCPI ($)'] = states_pcpi['PCPI ($)'].str.replace(",","").astype("int64")

In [33]:
new_column_names = ["State",'PCPI ($)','region']
states_pcpi.columns = new_column_names

In [34]:
states_pcpi

                     State  PCPI ($)     region
Rank
1     District of Columbia    100909  northeast
2            Massachusetts     87812  northeast
3              Connecticut     87447  northeast
4               New Jersey     80724  northeast
5               California     80423  southwest
6               Washington     79659  northwest
7                 New York     79581  northeast
8                 Colorado     78918  southwest
9                  Wyoming     77837  northwest
10           New Hampshire     77260  northeast
11                Maryland     73849  southeast
12            North Dakota     73341  northwest
13                Virginia     72855  southeast
14               Minnesota     71866  northeast
15                  Alaska     71616  northwest
16                Illinois     70953  northeast
17            South Dakota     70353  northwest
18                 Florida     68248  southeast
19            Pennsylvania     67839  northeast
20                Nebraska     67800  northwest
21            Rhode Island     66480  northeast
22                 Vermont     66463  northeast
23                  Oregon     65426  northwest
24                   Texas     65422  southwest
25                Delaware     65392  northeast
26                  Nevada     65168  southwest
27                  Hawaii     65151  southeast
28               Wisconsin     63963  northeast
29                 Montana     63918  northwest
30                  Kansas     63732  southwest
31                   Maine     63117  northeast
32                    Utah     62823  southwest
33                    Iowa     62351  northeast
34                 Arizona     61652  southwest
35                Missouri     61302  southeast
36               Tennessee     61049  southeast
37          North Carolina     60484  southeast
38                    Ohio     60402  northeast
39                 Indiana     60038  northeast
40                Michigan     59714  northeast
41                   Idaho     59035  northwest
42                 Georgia     58581  southeast
43                Oklahoma     58499  southwest
44               Louisiana     57100  southeast
45          South Carolina     56123  southeast
46              New Mexico     54428  southwest
47                Arkansas     54347  southeast
48                Kentucky     54326  southeast
49                 Alabama     53175  southeast
50           West Virginia     52585  southeast
51             Mississippi     48110  southeast

# Personal Income pivot table

In [35]:
states_pcpi_pivot = states_pcpi.pivot_table(index='region', values=['PCPI ($)'], aggfunc='mean')
states_pcpi_pivot

               PCPI ($)
region
northeast  71795.055556
northwest  69887.222222
southeast  59819.000000
southwest  65673.888889

In [36]:
states_pcpi_pivot

               PCPI ($)
region
northeast  71795.055556
northwest  69887.222222
southeast  59819.000000
southwest  65673.888889

In [44]:
main_data

,age,sex,bmi,children,smoker,region,charges,age_group,bmi_group
0,19,female,27.90,0,yes,southwest,16884.92,18-29,Overweight (25-29.9)
1,18,male,33.77,1,no,southeast,1725.55,NaN,Obese Class I (30-34.9)
2,28,male,33.00,3,no,southeast,4449.46,18-29,Obese Class I (30-34.9)
3,33,male,22.70,0,no,northwest,21984.47,30-39,Normal (18.5-24.9)
4,32,male,28.88,0,no,northwest,3866.86,30-39,Overweight (25-29.9)
...,...,...,...,...,...,...,...,...,...
1333,50,male,30.97,3,no,northwest,10600.55,40-49,Obese Class I (30-34.9)
1334,18,female,31.92,0,no,northeast,2205.98,NaN,Obese Class I (30-34.9)
1335,18,female,36.85,0,no,southeast,1629.83,NaN,Obese Class II (35-39.9)
1336,21,female,25.80,0,no,southwest,2007.94,18-29,Overweight (25-29.9)
1337,61,female,29.07,0,yes,northwest,29141.36,60-69,Overweight (25-29.9)

In [45]:
merged_df = pd.merge(main_data, states_pcpi_pivot, on='region', how='inner')

In [46]:
merged_df

,age,sex,bmi,children,smoker,region,charges,age_group,bmi_group,PCPI ($)
0,19,female,27.90,0,yes,southwest,16884.92,18-29,Overweight (25-29.9),65673.888889
1,23,male,34.40,0,no,southwest,1826.84,18-29,Obese Class I (30-34.9),65673.888889
2,19,male,24.60,1,no,southwest,1837.24,18-29,Normal (18.5-24.9),65673.888889
3,56,male,40.30,0,no,southwest,10602.38,50-59,Obese Class III (>=40),65673.888889
4,30,male,35.30,0,yes,southwest,36837.47,18-29,Obese Class II (35-39.9),65673.888889
...,...,...,...,...,...,...,...,...,...,...
1332,62,male,26.70,0,yes,northeast,28101.33,60-69,Overweight (25-29.9),71795.055556
1333,61,male,33.53,0,no,northeast,13143.34,60-69,Obese Class I (30-34.9),71795.055556
1334,42,female,32.87,0,no,northeast,7050.02,40-49,Obese Class I (30-34.9),71795.055556
1335,23,female,24.22,2,no,northeast,22395.74,18-29,Normal (18.5-24.9),71795.055556
1336,18,female,31.92,0,no,northeast,2205.98,NaN,Obese Class I (30-34.9),71795.055556